<template>
  <div>
    <div class="row">
      <!-- spacer -->
      <div class="col-1"></div>

      <div class="col">
        <!-- Account -->
        <q-input dark label="Account" v-model="posting.account" @click="$emit('accountClicked')" />
      </div>
    </div>

    <div class="row justify-end">
      <div class="col-2"></div>
      <div class="col-3 col-xs-5">
        <!-- Amount -->
        <q-input
          dark
          label="Amount"
          v-model.number="posting.amount"
          type="number"
          input-class="text-right"
          @change="$emit('amountChanged')"
        />
      </div>

      <div class="q-pl-sm col-3 col-xs-4">
        <!-- currency -->
        <!-- set from the account -->
        <q-input dark label="Currency" v-model="posting.currency" />
      </div>
    </div>
  </div>
</template>

<script>
import appService from "../appService";

export default {
  props: ["posting", "index", "accounts"],

  data: function() {
    return {
      accountOptions: null
    };
  },

  created() {
    // console.log(this.accounts)
  },

  methods: {
    filterAccounts(val, update) {
      // val, update, abort

      update(() => {
        const needle = val.toLowerCase();
        this.accountOptions = this.accounts.filter(
          account => account.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    onAccountSelected(name) {
      // console.log(name)
      // load account by name
      appService.db.accounts.get({ name: name }).then(account => {
        // console.log(account.currency)
        this.posting.currency = account.currency;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
//@import '../css/styles.scss';
// .q-qitem--active {
//   color: red;
// }
</style>
